:root{
    --menuColor:#ffffdb;
    --menuHoverColor:#ffffff;
}

.menuPrincipal{
    opacity: 1;
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-width: 700px;
    height: 10vh;
    min-height: 20px;
}

.menuPrincipal a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.menuPrincipal li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    width: 10%;
    min-width: 50px;
    height: 100%;
    box-shadow: rgba(234, 234, 203, .4) 0px 3px 12px;
    background-color: var(--menuColor);
    transition: background-color .2s, box-shadow .2s;
}

.menuPrincipal li:hover {
    box-shadow: none;
    background-color: var(--menuHoverColor);
}

#gitImage {
    position: relative;
    width: 40%;
}

#gitLocal {
    height: 100%;

}