nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100vh;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 30%;
    background-color: #f7f7f7;
    border-radius: 2%;
    padding-top: 25%;
    padding-bottom: 25%;
    border: solid var(--gitColor);
}
nav ul li {
    text-align: center;
    list-style: none;
}
nav a {
    color: #5f1e00;
}
nav a:hover {
    color: black;
}